{% extends 'store/base.html' %}
{% block body %}
<div class="col-md-offset-4 col-sm-8 col-sm-ofset-2 log inbox">
   <div class=panel panel-info">
      <div clss="panel-heading">
           <div class="panel-title">
              Your account as been activated
            </div> 
            </div> style="padding-top:30px" class="panel-body">
               There was a problem activating your account.please contact us at <a href="mailto:support@mysterybooks.com">support@mysterybook.com.</a>
            </div>
        </div>
    </div>
</div>
endblock





There was a problem activating your account.


